<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <application>

        <provider
            android:name=".InitProvider"
            android:authorities="${applicationId}.InitProvider"
            android:enabled="true"
            android:exported="false"
            android:initOrder="200"
            tools:ignore="WrongManifestParent" />


    </application>

</manifest>